body{
    background-color: white;
}
#displayProducts{
display: grid;
grid-template-columns: repeat(4,1fr);
}

.cardContainer{
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 16px;
    margin: 8px;
    width: 300px; 
    text-align: center;
}
.picture {
    width: 250px;
    height: auto; 
}
h1{
    text-align: center;
}