body{
    background-color: whitesmoke;
}
.parent_box{
    border: 1px solid black;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    padding: 50px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    justify-content: space-evenly;
    gap: 20px
}
.childBox{
    border: 2px solid grey;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    background-color: white;
}
.titleCSS{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}
.descriptionCSS{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;  
}