.Headerbar_box{
  border-bottom: 1px solid rgb(205, 193, 193);
  display: flex;
  justify-content: space-between;
}
#leftside{
  /* border: 3px solid  red; */
  display: flex;
  justify-content: space-evenly;
  margin-left: 10%;
}
ul{
  list-style: none;
}
#rightside{
  /* border: 3px solid  green; */
  margin-right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo_box{
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}
#seperatorVerticalBar{
width: 2px;
background-color: #EAEAEA;
height: 20px;
margin-left: 40px;
margin-right: 20px;
}
#loginfont{
  font-family: "Montserrat", sans-serif; 
  font-size: 12px;
  font-weight: 600;
  margin-right: 10px;
}
