body{
    margin: 0px;
    margin-top: 0px;
    font-size: 10px;
    font-weight: 450;
    font-family: "Montserrat", sans-serif;
}
#MiniheaderOuterBox{
    background-color:#ededed;
 
}
ul{
    list-style: none;
    display: flex;
    gap: 10px;
    margin-left: 0px;
}
.MiniheaderInnerBox{
   /*  border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
#Leftoptions{
    margin-left: 20px;
}
#Rightoptions{
    margin-right: 10px;
}